#[include stealthburner_leds.cfg]
[include panel_ring.cfg]
[include shell_command.cfg]
#[include adxl.cfg]
[include mainsail.cfg]
[include timelapse.cfg]
[include Exclude_Object.cfg]
[include Start_Stop.cfg]
[include Macro.cfg]
[include Speed.cfg]
[display_status]
[exclude_object]
[virtual_sdcard]
path: ~/printer_data/gcodes
[pause_resume]
recover_velocity: 350

[exclude_object]









# Enable arcs support for Orcaslicer.
[gcode_arcs]
resolution: 1.0
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.


#################################


[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_4D0022001151313230353039-if00

[mcu host]
serial: /tmp/klipper_host_mcu


[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100












##### VzBoT############
#######################

[printer]
kinematics: corexy
max_velocity: 2500
max_accel: 10000
#max_accel_to_decel: 5000
max_z_velocity: 20
max_z_accel: 1500
square_corner_velocity: 10

########################
########################

#

# S1
[stepper_x]
step_pin: PC14
dir_pin: PC13
enable_pin: !PE6
microsteps: 32
full_steps_per_rotation: 200
rotation_distance: 40
endstop_pin: PF1
position_endstop: 0
position_max: 330
homing_speed: 50
homing_retract_dist: 0


#S1
[tmc5160 stepper_x]
cs_pin: PD6
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
interpolate: false
run_current: 1.9
sense_resistor: 0.033
#driver_TBL: 1
#driver_TOFF: 3
#driver_DISS2G: 1
#driver_DISS2VS: 1


# S2
[stepper_x1]
step_pin: PE5
dir_pin: PE4
enable_pin: !PE3
microsteps: 32
rotation_distance: 40
full_steps_per_rotation: 200

#S2
[tmc5160 stepper_x1]
cs_pin: PD5
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
interpolate: false
run_current: 1.9
sense_resistor: 0.033
#driver_TBL: 1
#driver_TOFF: 3
#driver_DISS2G: 1
#driver_DISS2VS: 1



# S3
[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE0
microsteps: 32
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: PF0
position_endstop: 0
position_max: 315
homing_speed: 50  
homing_retract_dist: 0


#S3
[tmc5160 stepper_y]
cs_pin: PD4
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
interpolate: false
run_current: 1.9
sense_resistor: 0.033
#driver_TBL: 1
#driver_TOFF: 3
#driver_DISS2G: 1
#driver_DISS2VS: 1



# S4
[stepper_y1]
step_pin: PB9
dir_pin: PB8
enable_pin: !PB7
microsteps: 32
rotation_distance: 40
full_steps_per_rotation: 200


#S4
[tmc5160 stepper_y1]
cs_pin: PD3
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
interpolate: false
run_current: 1.9
sense_resistor: 0.033
#driver_TBL: 1
#driver_TOFF: 3
#driver_DISS2G: 1
#driver_DISS2VS: 1




# S5
[extruder]
step_pin: PG9
dir_pin: !PG10
enable_pin: !PG13
microsteps: 16
rotation_distance: 27.5504
Gear_ratio: 50:8
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PF6 # HE0
#sensor_pin: PA7
#sensor_type: PT1000
#pullup_resistor: 430
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 25000000000000
sensor_type:MAX31865
sensor_pin: PC9
spi_bus: spi3a
#spi_speed: 4000000
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 2


#S5
[tmc5160 extruder]
cs_pin: PD2
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
interpolate: false
run_current: 1.0
sense_resistor: 0.110


# S6
[stepper_z]
step_pin: PG11
dir_pin: !PD7
enable_pin: !PG12
microsteps: 32
rotation_distance: 4
endstop_pin: PC15
#position_endstop: -0.5
position_max: 300
position_min: -1
full_steps_per_rotation: 200
homing_retract_dist: 5.0
homing_positive_dir: false
homing_speed: 5.0
second_homing_speed: 2.5

#S6
[tmc5160 stepper_z]
cs_pin: PA15
spi_software_sclk_pin: PC6
spi_software_mosi_pin: PC8
spi_software_miso_pin: PC7
run_current: 1.2
stealthchop_threshold: 0



[heater_bed]
heater_pin: PF5
sensor_pin: PB0 # TB
sensor_type: Generic 3950
control: pid
min_temp: 0
max_temp: 15000000000000
pid_kp: 45.150
pid_ki: 1.362
pid_kd: 374.177


[fan]
##	Print Cooling Fan - PF8
pin: PE7
max_power: 1
cycle_time: 0.002
hardware_pwm: false
shutdown_speed: 0

[fan_generic Exhaust_fan]
##  exhaust fan - In FAN4
pin: PA0
max_power: 1
shutdown_speed: 0
kick_start_time: 0.1
off_below: 0.10





[heater_fan hotend_fan]
pin: PA5
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0


#[temperature_fan controller_fan]
# Electronics fan PWM
#pin: PA1
#max_power: 1
#hardware_pwm: true
#control: watermark
#max_delta: 2
#sensor_type: temperature_host
#min_temp: 10
#max_temp: 80
#target_temp: 50


[temperature_fan mcu_host]
pin: PA1
max_power: 1.0
kick_start_time: 0
sensor_type: temperature_host
control: watermark
min_temp: 10
max_temp: 65
target_temp: 45

[multi_pin my_enable_pin]
pins: PA2,PA3


[heater_fan radiator]

pin: PA6
tachometer_pin: PC1
cycle_time:  0.00004
hardware_pwm: true
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
tachometer_ppr: 2
tachometer_poll_interval: 0.0015


[heater_fan pump]
pin: PE8
tachometer_pin: PG0
cycle_time:  0.00004
hardware_pwm: false
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
tachometer_ppr: 2
tachometer_poll_interval: 0.0015



[output_pin LED]
#In FAN8 position if 12 or 5V
#When 24V use a heater pin like Heat4 PF6
pin=multi_pin:my_enable_pin
pwm: false
value: 1
shutdown_value:1
### gcode command: SET_PIN PIN=LED value=0 to 1




[temperature_sensor coolant_in]
sensor_type: Generic 3950
sensor_pin: PB1
min_temp: 0
max_temp: 100
pullup_resistor: 47000


[temperature_sensor coolant_out]
sensor_type: Generic 3950
sensor_pin: PC5
min_temp: 0
max_temp: 100
pullup_resistor: 47000




[bed_screws]
screw1: 20,20
screw2: 20,290
screw3: 290,290
screw4: 290,20




[board_pins]
aliases:
    # FPC header, Aliases EXP1 & EXP2 for mini12864
    EXP1_1=PG5, EXP1_2=PG4,
    EXP1_3=PG3, EXP1_4=PG2,
    EXP1_5=PD15, EXP1_6=PD14,
    EXP1_7=PD13, EXP1_8=PD12,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PG8, EXP2_4=PE11,
    EXP2_5=PG7, EXP2_6=PE14,
    EXP2_7=PG6, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = -0.120
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.452
#*# pid_ki = 1.049
#*# pid_kd = 99.703
